{{ $lang := .page.Lang }}
{{ $assets := .bp.assets }}
{{ $tier := .bp.stats.tier }}

{{ $bpTranslations := partial "getDataTranslations.html" (dict "data" .bp "lang" $lang) }}
{{ $itemTypeString := replaceRE `\{0\}` $tier (replaceRE `\{1\}` ($bpTranslations.type) .bpTierTypeFormat) }}

<div class="blueprint-banner">
    <div class="blueprint-banner-tier">
        <img src="/fankit/Misc Icons/icon_global_level_item_s_r.png" alt="">
        <img src="/fankit{{ $assets.tier }}" alt="">
    </div>
    <div class="blueprint-banner-info">
        <div class="blueprint-banner-info-name">
            <img class="blueprint-type-img" src="/fankit{{ $assets.typeLight }}" alt="">
            <h3 class='text-shadow no-margin'>{{- $bpTranslations.name -}}</h3>
        </div>
        <p class="blueprint-banner-info-type text-shadow no-margin">{{ $itemTypeString }}</p>
    </div>
</div>
