{{ $statData := .page.Site.Data.stats }}
{{ $lang := .page.Lang }}
{{ $assets := .bp.assets }}
{{ $stats := .bp.stats }}
{{ $bpClass := .bp.language.en.class }}
{{ $inAntiqueStoreOn := .inAntiqueStoreOn }}

{{ $bpTranslations := partial "getDataTranslations.html" (dict "data" .bp "lang" $lang) }}
{{ $statTranslations := partial "getDataTranslations.html" (dict "data" $statData "lang" $lang) }}

<div class="blueprint-translation blueprint-meta">
    <div class="blueprint-asset" title="{{ $bpTranslations.name }}">
        <img src="/fankit{{ $assets.background }}" alt="">
        <img src="/fankit{{ $assets.image }}" alt="">
    </div>
    <div class="blueprint-meta-stats-wrapper">
        {{ with $stats.value }}
            <div class="blueprint-meta-stat" title="{{ $statTranslations.value }}">
                <img src="/fankit{{ $statData.assets.value }}" alt="{{ $statTranslations.value }}">
                <p>{{ $stats.roundedValue | lang.FormatNumber 0 }}</p>
            </div>
        {{ end }}
        {{ with $stats.merchantXp }}
            <div class="blueprint-meta-stat" title="{{ $statTranslations.merchantXp }}">
                <img src="/fankit{{ $statData.assets.merchantXp }}" alt="{{ $statTranslations.merchantXp }}">
                <p>{{ $stats.merchantXp | lang.FormatNumber 0 }}</p>
            </div>
        {{ end }}
        {{ with $stats.favor }}
            <div class="blueprint-meta-stat" title="{{ $statTranslations.favor }}">
                <img src="/fankit{{ $statData.assets.favor }}"  alt="{{ $statTranslations.favor }}">
                <p>{{ $stats.favor | lang.FormatNumber 0 }}</p>
            </div>
        {{ end }}
        {{ if $bpClass | ne "Enchantments" }}
            {{ with $stats.airshipPower }}
                <div class="blueprint-meta-stat" title="{{ $statTranslations.airshipPower }}">
                    <img src="/fankit{{ $statData.assets.airshipPower }}" alt="{{ $statTranslations.airshipPower }}">
                    <p>{{ $stats.airshipPower | lang.FormatNumber 0 }}</p>
                </div>
            {{ end }}
        {{ end }}
        {{ with $stats.antiqueDate }}
            {{ $scratch := newScratch }}
            {{ if $lang | eq "en" }}
                {{ $scratch.Set "date" (time.Format "2006/01/02" (replaceRE `/` "-" $stats.antiqueDate)) }}
            {{ else }}
                {{ $scratch.Set "date" (time.Format ":date_short" (replaceRE `/` "-" $stats.antiqueDate)) }}
            {{ end }}
            {{ $antiqueDate := $scratch.Get "date" }}
            <div class="blueprint-meta-stat" title="{{- $inAntiqueStoreOn -}}&nbsp;{{- $antiqueDate -}}">
                {{ if (now | time) | gt (replace . "/" "-" | time) }}
                    <img src="/fankit{{ $assets.notAntique }}" alt="{{ $bpTranslations.notInAntiqueShop }}">
                {{ else }}
                    <img src="/fankit{{ $assets.antique }}"  alt="{{ $bpTranslations.inAntiqueShop }}">
                {{ end }}
                <p>{{ $antiqueDate }}</p>
            </div>
        {{ end }}
    </div>
</div>
