{{ $lang := .page.Lang }}
{{ $assets := .bp.assets }}
{{ $stats := .bp.stats }}
{{ $en := .bp.language.en }}
{{ $resourcesHeader := .miscTranslations.resources }}
{{ $qualityItemNameFormat := .miscTranslations.qualityItemNameFormat }}

{{ $bpTranslations := partial "getDataTranslations.html" (dict "data" .bp "lang" $lang) }}
{{ $scratch := newScratch }}

<span class="blueprint-spacer"></span>
<p class="blueprint-label-header no-margin">{{ $resourcesHeader }}</p>
<div class="blueprint-resources-wrapper">
    {{ partial "blueprint/metaStat.html" (dict
        "title" $bpTranslations.resource1
        "asset" $assets.resource1
        "value" ($stats.resource1 | lang.FormatNumber 0)
        "type" "rss")
    }}
    {{ partial "blueprint/metaStat.html" (dict
        "title" $bpTranslations.resource2
        "asset" $assets.resource2
        "value" ($stats.resource2 | lang.FormatNumber 0)
        "type" "rss")
    }}
    {{ partial "blueprint/metaStat.html" (dict
        "title" $bpTranslations.resource3
        "asset" $assets.resource3
        "value" ($stats.resource3 | lang.FormatNumber 0)
        "type" "rss")
    }}

    {{ if $en.c1quality | eq "Normal" }}
        {{ $scratch.Set "type" "normalPrecraft" }}
        {{ $scratch.Set "title" (replaceRE `\{0\}` ($bpTranslations.c1quality) (replaceRE `\{1\}` ($bpTranslations.component1) $qualityItemNameFormat)) }}
    {{ else if $en.c1quality | eq "Superior" }}
        {{ $scratch.Set "type" "superiorPrecraft" }}
        {{ $scratch.Set "title" (replaceRE `\{0\}` ($bpTranslations.c1quality) (replaceRE `\{1\}` ($bpTranslations.component1) $qualityItemNameFormat)) }}
    {{ else }}
        {{ $scratch.Set "type" "component" }}
        {{ $scratch.Set "title" $bpTranslations.component1 }}
    {{ end }}
    {{ partial "blueprint/metaStat.html" (dict
        "title" ($scratch.Get "title")
        "asset" $assets.component1
        "value" ($stats.component1 | lang.FormatNumber 0)
        "type" ($scratch.Get "type"))
    }}

    {{ if $en.c2quality | eq "Normal" }}
        {{ $scratch.Set "type" "normalPrecraft" }}
        {{ $scratch.Set "title" (replaceRE `\{0\}` ($bpTranslations.c2quality) (replaceRE `\{1\}` ($bpTranslations.component2) $qualityItemNameFormat)) }}
    {{ else if $en.c2quality | eq "Superior" }}
        {{ $scratch.Set "type" "superiorPrecraft" }}
        {{ $scratch.Set "title" (replaceRE `\{0\}` ($bpTranslations.c2quality) (replaceRE `\{1\}` ($bpTranslations.component2) $qualityItemNameFormat)) }}
    {{ else }}
        {{ $scratch.Set "type" "component" }}
        {{ $scratch.Set "title" $bpTranslations.component2 }}
    {{ end }}
    {{ partial "blueprint/metaStat.html" (dict
        "title" ($scratch.Get "title")
        "asset" $assets.component2
        "value" ($stats.component2 | lang.FormatNumber 0)
        "type" ($scratch.Get "type"))
    }}
</div>
