{{ $page := .page }}
{{ $equipment := .equipment }}

{{ with $equipment }}
<div class="hero-equipment-row">
    {{ partial "hero/slot.html" (dict "page" $page "slot" $equipment.slot1) }}
    {{ partial "hero/slot.html" (dict "page" $page "slot" $equipment.slot2) }}
    {{ partial "hero/slot.html" (dict "page" $page "slot" $equipment.slot3) }}
</div>
<div class="hero-equipment-row">
    {{ partial "hero/slot.html" (dict "page" $page "slot" $equipment.slot4) }}
    {{ partial "hero/slot.html" (dict "page" $page "slot" $equipment.slot5) }}
    {{ partial "hero/slot.html" (dict "page" $page "slot" $equipment.slot6) }}
</div>
{{ end }}
