{{ $page := .page }}
{{ $lang := $page.Lang }}
{{ $blueprintData := $page.Site.Data.blueprints }}
{{ $miscData := .page.Site.Data.miscellaneous }}
{{ $statData := $page.Site.Data.stats }}
{{ $slot := .slot }}
{{ $quality := $slot.quality }}


{{ $miscTranslations := partial "getDataTranslations.html" (dict "data" $miscData "lang" $lang) }}

{{ $scratch := newScratch }}

{{ range where $blueprintData "language.en.name" "==" $slot.item }}
    {{ $scratch.Set "item" (dict
        "assets" .assets
        "stats" .stats
            "lang" (merge (partial "getDataTranslations.html" (dict "data" . "lang" $lang))
                          (partial "getDataTranslations.html" (dict "data" $statData "lang" $lang))
                   )
        )
    }}
{{ end }}

{{ range where $blueprintData "language.en.name" "==" $slot.element }}
    {{ $scratch.Set "element" (dict
        "assets" .assets
        "stats" .stats
        "lang" (partial "getDataTranslations.html" (dict "data" . "lang" $lang))
        )
    }}
{{ end }}

{{ range where $blueprintData "language.en.name" "==" $slot.spirit }}
    {{ $scratch.Set "spirit" (dict
        "assets" .assets
        "stats" .stats
        "lang" (partial "getDataTranslations.html" (dict "data" . "lang" $lang))
        )
    }}
{{ end }}

{{ $item := $scratch.Get "item" }}
{{ $element := $scratch.Get "element" }}
{{ $spirit := $scratch.Get "spirit" }}

{{ with $item.stats.atk }}
    {{ $scratch.Add "stats" (slice (delimit (slice $item.lang.attack ($item.stats.atk | lang.FormatNumber 0)) ": ")) }}
{{ end }}
{{ with $item.stats.def }}
    {{ $scratch.Add "stats" (slice (delimit (slice $item.lang.defense ($item.stats.def | lang.FormatNumber 0)) ": ")) }}
{{ end }}
{{ with $item.stats.hp }}
    {{ $scratch.Add "stats" (slice (delimit (slice $item.lang.health ($item.stats.hp | lang.FormatNumber 0)) ": ")) }}
{{ end }}
{{ with $item.stats.eva }}
    {{ $scratch.Add "stats" (slice (delimit (slice $item.lang.evasion ((float $item.stats.eva | mul 100) | lang.FormatPercent 0)) ": ")) }}
{{ end }}
{{ with $item.stats.crit }}
    {{ $scratch.Add "stats" (slice (delimit (slice $item.lang.critChance ((float $item.stats.crit | mul 100) | lang.FormatPercent 0)) ": ")) }}
{{ end }}

{{ with $item.stats.antiqueDate}}
    {{ $antique := partial "getAntiqueInfo.html" (dict "page" $page "date" $item.stats.antiqueDate "assets" $item.assets) }}
    {{ $scratch.Set "antiqueSummary" (delimit (slice $antique.isInShopMsg $antique.inShopOnMsg) "&#010;") }}
    {{ $scratch.Set "antiqueAsset" $antique.asset }}
{{ else }}
    {{ $scratch.Set "antiqueSummary" "" }}
{{ end }}

{{ $itemSummary := replaceRE `\{0\}` $item.stats.tier (replaceRE `\{1\}` $item.lang.name $miscTranslations.bpTierTypeFormat) }}
{{ $statSummary := delimit ($scratch.Get "stats") "&#010;" }}
{{ $elementSummary := replaceRE `\{0\}\{1\}` $element.lang.name $miscTranslations.enchantedWithFormat}}
{{ $spiritSummary := replaceRE `\{0\}\{1\}` $spirit.lang.name $miscTranslations.enchantedWithFormat}}
{{ $antiqueSummary := $scratch.Get "antiqueSummary" }}


{{ $slotTitle := delimit (slice $itemSummary $statSummary $elementSummary $spiritSummary $antiqueSummary) "&#010;" }}

<div class="hero-equipment-slot" title="{{ $slotTitle }}">
    {{ if $quality | eq "Superior" }}
        <img class="hero-equipment-slot-icon hero-equipment-slot-superior"
             src="/fankit{{ $item.assets.image }}" alt="">
    {{ else if $quality | eq "Flawless" }}
        <img class="hero-equipment-slot-icon hero-equipment-slot-flawless"
             src="/fankit{{ $item.assets.image }}" alt="">
    {{ else if $quality | eq "Epic" }}
        <img class="hero-equipment-slot-icon hero-equipment-slot-epic"
             src="/fankit{{ $item.assets.image }}" alt="">
    {{ else if $quality | eq "Legendary" }}
        <img class="hero-equipment-slot-icon hero-equipment-slot-legendary"
             src="/fankit{{ $item.assets.image }}" alt="">
    {{ else }}
        <img class="hero-equipment-slot-icon"
             src="/fankit{{ $item.assets.image }}" alt="">
    {{ end }}
    <div class="hero-equipment-slot-meta hero-equipment-slot-meta-left">
        <img src="/fankit/Misc Icons/icon_global_level_item_s_r.png" alt="">
        <img class="hero-equipment-slot-tier" src="/fankit{{ $item.assets.tier }}" alt="">
        {{ with $item.stats.atk }}
            <img src="/fankit{{ $statData.assets.atk }}" alt="">
        {{ end }}
        {{ with $item.stats.def }}
            <img src="/fankit{{ $statData.assets.def }}" alt="">
        {{ end }}
        {{ with $item.stats.hp }}
            <img src="/fankit{{ $statData.assets.hp }}" alt="">
        {{ end }}
        {{ with $item.stats.eva }}
            <img src="/fankit{{ $statData.assets.eva }}" alt="">
        {{ end }}
        {{ with $item.stats.crit }}
            <img src="/fankit{{ $statData.assets.critChance }}" alt="">
        {{ end }}
    </div>
    <div class="hero-equipment-slot-meta hero-equipment-slot-meta-right">
        {{ with $item.stats.antiqueDate }}
            {{ $antiqueAsset := $scratch.Get "antiqueAsset" }}
            <img src="/fankit{{ $antiqueAsset }}" alt="">
        {{ end }}
        {{ with $element }}
            <img src="/fankit{{ $element.assets.image }}" alt="">
        {{ end }}
        {{ with $spirit }}
            <img src="/fankit{{ $spirit.assets.affinitySpirit }}" alt="">
        {{ end }}
    </div>
</div>
