{{ $lang := .page.Lang }}
{{ $blueprintData := .page.Site.Data.blueprints }}
{{ $statData := .page.Site.Data.stats }}
{{ $slot := .slot }}

{{ $scratch := newScratch }}

{{ range where $blueprintData "language.en.name" "==" $slot.item }}
{{ $scratch.Set "item" (dict
    "assets" .assets
    "stats" .stats
        "lang" (merge (partial "getDataTranslations.html" (dict "data" . "lang" $lang))
                      (partial "getDataTranslations.html" (dict "data" $statData "lang" $lang))
               )
    )
}}
{{ end }}

{{ range where $blueprintData "language.en.name" "==" $slot.element }}
{{ $scratch.Set "element" (dict
    "assets" .assets
    "stats" .stats
    "lang" (partial "getDataTranslations.html" (dict "data" . "lang" $lang))
    )
}}
{{ end }}

{{ range where $blueprintData "language.en.name" "==" $slot.spirit }}
{{ $scratch.Set "spirit" (dict
    "assets" .assets
    "stats" .stats
    "lang" (partial "getDataTranslations.html" (dict "data" . "lang" $lang))
    )
}}
{{ end }}

{{ $item := $scratch.Get "item" }}
{{ $element := $scratch.Get "element" }}
{{ $spirit := $scratch.Get "spirit" }}

<div class="hero-equipment-slot">
    <div class="hero-equipment-slot-tier">
        <img src="/fankit/Misc Icons/icon_global_level_item_s_r.png" alt="item tier background">
        <img src="/fankit{{ $item.assets.tier }}" alt="tier {{ $item.stats.tier }} item">
    </div>
    <div class="hero-equipment-slot-stats">
        {{ with $item.stats.atk }}
        <img src="/fankit{{ $statData.assets.atk }}"
             alt="{{ $item.lang.atk }}: {{ $item.stats.atk | lang.FormatNumber 0 }}">
        {{ end }}
        {{ with $item.stats.def }}
        <img src="/fankit{{ $statData.assets.def }}"
             alt="{{ $item.lang.def }}: {{ $item.stats.def | lang.FormatNumber 0 }}">
        {{ end }}
        {{ with $item.stats.hp }}
        <img src="/fankit{{ $statData.assets.hp }}"
             alt="{{ $item.lang.hp }}: {{ $item.stats.hp | lang.FormatNumber 0 }}">
        {{ end }}
        {{ with $item.stats.eva }}
        <img src="/fankit{{ $statData.assets.eva }}"
             alt="{{ $item.lang.eva }}: {{ (float $item.stats.eva | mul 100) | lang.FormatPercent 0 }}">
        {{ end }}
        {{ with $item.stats.crit }}
        <img src="/fankit{{ $statData.assets.critChance }}"
             alt="{{ $item.lang.critChance }}: {{ (float $item.stats.crit | mul 100) | lang.FormatPercent 0 }}">
        {{ end }}
    </div>
    {{ with $item.stats.antiqueDate }}
    <div class="hero-equipment-slot-antique">
        {{ if (now | time) | gt (replace . "/" "-" | time) }}
        <img src="/fankit{{ $item.assets.notAntique }}" alt="{{ $item.lang.notInAntiqueShop }}">
        {{ else }}
        <img src="/fankit{{ $item.assets.antique }}"  alt="{{ $item.lang.inAntiqueShop }}">
        {{ end }}
    </div>
    {{ end }}
    <img class="hero-equipment-slot-icon" src="/fankit{{ $item.assets.image }}" alt="{{ $item.lang.name }}">
</div>
