{{ $lang := .page.Lang }}
{{ $statData := .page.Site.Data.stats }}
{{ $stats := .stats }}

{{ $scratch := newScratch }}
{{ $scratch.Set "translations" (partial "getDataTranslations.html" (dict "data" $statData "lang" $lang)) }}

{{ with $stats }}
<table class="hero-stats-table">
    {{ $translations := $scratch.Get "translations" }}

    {{ with $stats.starPower }}
    {{ $heroStarPower := $stats.starPower }}
        <tr class="hero-stat" title="{{ $translations.starPower }}">
            <td>
                <img class="hero-stat-icon-power"
                     src="/fankit/Stat Indicators/Heroes/icon_global_power.png"
                     alt="">
            </td>
            <td><p class="hero-stat-power">{{ $heroStarPower | lang.FormatNumber 0 }}</p></td>
        </tr>
        <tr class="hero-stat">
            <td>
                <img class="hero-stat-icon"
                     src="/fankit/Stat%20Indicators/icon_global_dragoninvasion_airshippower.png"
                     alt="">
            </td>
            <td class="hero-stat hero-stat-tag">
                <p>{{- $translations.airshipPower -}}</p>
            </td>
            {{ if lt $heroStarPower 15000 }}
                <td><p class="hero-stat-value">{{ add (mul $heroStarPower 0.0714) 77.3 | lang.FormatNumber 0 }}</p></td>
            {{ else if lt $heroStarPower 50000 }}
                <td><p class="hero-stat-value">{{ add (mul $heroStarPower 0.0625) 255 | lang.FormatNumber 0 }}</p></td>
            {{ else if lt $heroStarPower 100000 }}
                <td><p class="hero-stat-value">{{ add (mul $heroStarPower 0.05 ) 881 | lang.FormatNumber 0 }}</p></td>
            {{ else if lt $heroStarPower 250000 }}
                <td><p class="hero-stat-value">{{ add (mul $heroStarPower 0.04 ) 1880 | lang.FormatNumber 0 }}</p></td>
            {{ else }}
                <td><p class="hero-stat-value">{{ add (mul $heroStarPower 0.0333) 3547 | lang.FormatNumber 0 }}</p></td>
            {{ end }}
        </tr>
    {{ end }}

    {{ with $stats.hp }}
        <tr class="hero-stat">
            <td>
                <img class="hero-stat-icon"
                     src="/fankit/Stat%20Indicators/Heroes/icon_global_health.png"
                     alt="">
            </td>
            <td class="hero-stat hero-stat-tag">
                <p class="hero-stat-tag-hp">{{- $translations.hp -}}</p>
            </td>
            <td><p class="hero-stat-value">{{ $stats.hp | lang.FormatNumber 0 }}</p></td>
        </tr>
    {{ end }}

    {{ with $stats.atk }}
        <tr class="hero-stat">
            <td>
                <img class="hero-stat-icon"
                     src="/fankit/Stat%20Indicators/Heroes/icon_global_attack.png"
                     alt="">
            </td>
            <td class="hero-stat hero-stat-tag">
                <p class="hero-stat-tag-atk">{{- $translations.atk -}}</p>
            </td>
            <td><p class="hero-stat-value">{{ $stats.atk | lang.FormatNumber 0 }}</p></td>
        </tr>
    {{ end }}

    {{ with $stats.def }}
        <tr class="hero-stat">
            <td>
                <img class="hero-stat-icon"
                     src="/fankit/Stat%20Indicators/Heroes/icon_global_defense.png"
                     alt="">
            </td>
            <td class="hero-stat-multi hero-stat-tag">
                <p class="hero-stat-tag-def">{{- $translations.def -}}</p>
                <p class="hero-stat-tag-def">{{- $translations.threat -}}</p>
            </td>
            <td class="hero-stat-multi">
                <p class="hero-stat-value">{{ $stats.def | lang.FormatNumber 0 }}</p>
                {{ with $stats.threat }}
                <p class="hero-stat-value">{{ $stats.threat | lang.FormatNumber 0 }}</p>
                {{ end }}
            </td>
        </tr>
    {{ end }}

    {{ with $stats.eva }}
        <tr class="hero-stat">
            <td>
                <img class="hero-stat-icon"
                     src="/fankit/Stat%20Indicators/Heroes/icon_global_evasion.png"
                     alt="">
            </td>
            <td class="hero-stat hero-stat-tag">
                <p class="hero-stat-tag-eva">{{- $translations.eva -}}</p>
            </td>
            <td><p class="hero-stat-value">{{ $stats.eva | lang.FormatPercent 0 }}</p></td>
        </tr>
    {{ end }}

    {{ with $stats.critChance }}
        <tr class="hero-stat">
            <td>
                <img class="hero-stat-icon"
                     src="/fankit/Stat%20Indicators/Heroes/icon_global_critchance.png"
                     alt="">
            </td>
            <td class="hero-stat-multi hero-stat-tag">
                <p class="hero-stat-tag-crit">{{- $translations.critChance -}}</p>
                <p class="hero-stat-tag-crit">{{- $translations.critDmg -}}</p>
            </td>
            <td class="hero-stat-multi">
                <p class="hero-stat-value">{{ $stats.critChance | lang.FormatPercent 0 }}</p>
                {{ with $stats.critDmg }}
                    <p class="hero-stat-value">{{ $stats.critDmg | lang.FormatNumber 1 -}}x</p>
                {{ end }}
            </td>
        </tr>
    {{ end }}
</table>
{{ end }}
