<footer class="footer-banner">
    <div class="footer-content">
        <div class="footer-column">
            <h1>About This Site</h1>
            <p>This is a hub for invaluable data that is shared on ST Central.</p>
            <p> Like STC this site is not endorsed, sponsored or commissioned by Kabam Games inc.</p>
            <h1>Contact Information</h1>
            <p>Discord: nerilea#9496</p>
        </div>
        <div class="footer-column">
            <img src="/ST_Social_ContentCreator-v1_1280x800_EN_2.webp" alt="ST Content Creator Badge">
        </div>
    </div>
    <div class="footer-copyright">
        <p>© {{ now.Format "2006"}} STC Hub &nbsp;&nbsp;| &nbsp;&nbsp; Nerilea Aeliran</p>
    </div>
</footer>
