<footer class="footer-banner">


    <div class="footer-content">
        <div class="footer-column">
            <span class="footer-column-padding"></span>
            <div>
                <h1>About This Site</h1>
                <p>This is a hub for invaluable data that is shared on ST Central.</p>
                <p> Like STC this site is not endorsed, sponsored or commissioned by Kabam Games inc.</p>
                <h1>Contact Information</h1>
                <p>Discord: nerilea#9496</p>
            </div>
        </div>
        <div class="footer-column">
            <div>
                <img src="/ST_Social_ContentCreator-v1_1280x800_EN_2.webp" alt="ST Content Creator Badge">
                <h1>Privacy Policy & Data Collection</h1>
                <p>This site does not collect or track any data outside of what is tracked by GitHub Pages.</p>
                <p>When a GitHub Pages site is visited, the visitor's IP address is logged and stored for security
                    purposes,
                    regardless of whether the visitor has signed into GitHub or not. For more information about GitHub's
                    security practices, see
                    <a class="footer-link" href="https://docs.github.com/en/articles/github-privacy-statement"
                       title="GitLab Privacy Statement">GitHub Privacy Statement</a>
                    .
                </p>
            </div>
            <span class="footer-column-padding"></span>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© {{ now.Format "2006"}} STC Hub &nbsp;&nbsp;| &nbsp;&nbsp; Nerilea Aeliran</p>
    </div>
</footer>
