<nav class="nav-banner">
    <div class="nav-menu">
        {{ range .Site.Menus.main }}
        <h4 class="nav-menu-header-item">
            <a href="{{ relLangURL .URL }}" title="{{ .Name }}">{{- .Name -}}</a>
        </h4>
        {{ end }}

        <div class="nav-menu-sub-menu">
            <h4 class="nav-menu-header-item">Languages</h4>
            <p>-&nbsp;{{- .Language.LanguageName -}}&nbsp;&nbsp;</p>
            <h6>&#9660;</h6>
            <div class="nav-menu-sub-menu-dropdown">
                {{ range .Site.Home.Translations }}
                <a class="nav-menu-sub-menu-dropdown-link" href="{{ .Permalink }}">
                    <div class="nav-menu-sub-menu-dropdown-item">
                        <h4>{{ .Language.LanguageName }}</h4>
                    </div>
                </a>
                <span class="nav-menu-sub-menu-dropdown-item-filler"></span>
                {{ end }}
            </div>
        </div>

    </div>
</nav>
