html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #27285b;
    margin: 0;

}

main {
    display: flex;
    flex-direction: column;
    background-color: #aeabab;
    padding: 0;
    flex-grow: 1;
}

header {
    background-color: #27285b;
    color: #fcfcfc;
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aeabab;
    margin: 1rem 2rem 1rem 2rem;
}

hr {
    border-style: none;
    background-color: transparent !important;
    background-image:
        linear-gradient(to left,
            currentColor calc(50% - 16px),
            transparent calc(50% - 16px),
            transparent calc(50% + 16px),
            currentColor calc(50% + 16px)
        );
    position: relative;
    overflow: visible;
    height: 0.1rem;
    margin: 2rem;
}

hr::before,
hr::after {
    display: block;
    position: absolute;
    content: "";
    top: calc(50% - 0.6rem);
    transform: rotate(22.5deg);
    background-color: currentColor;
    height: 1.2rem;
    width: 0.1rem;
}

hr:before {
    left: calc(50% - 0.4rem);
}

hr::after {
    right: calc(50% - 0.4rem);
}
