{{ define "main" }}
{{ $lang := .Lang }}
{{ $data := .Site.Data.bps_old }}

<main>
    {{- partial "layout/main-header.html" . -}}
    <article>
        <h3>{{ .Summary }}</h3>
            {{ range $data }}
                {{ $translations := partial "getDataTranslations.html" (dict "data" . "lang" $lang) }}
                {{ partial "blueprint/base.html" (dict "assets" .assets "strings" $translations "stats" .stats) }}
            {{ end }}
    </article>
    <hr>
    {{- partial "layout/main-footer.html" . -}}
</main>
{{ end }}
