{{ define "main" }}
<main>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    {{ range .Site.RegularPages.ByPublishDate.Reverse }}
    <article>
        {{- partial "layout/list-item-header.html" . -}}
        {{ with .Summary }}
        <h3>{{ . }}</h3>
        {{ end }}
        <div class="list-button">
            <a href="{{ .RelPermalink }}">CONTINUE READING</a>
        </div>
    </article>
    <hr>
    {{ end }}
    {{- partial "layout/list-footer.html" .Site.RegularPages -}}
</main>
{{ end }}
