{{ define "main" }}
<main>
    <header>
        <h1>Welcome to {{ .Site.Title }}</h1>
    </header>
    <article class="page-article">
        <img class="home-logo" src="/fankit/Logos/ShopTitans_Logo_RGB.png" alt="Shop Titans Logo">
        <div class="home-about">
            <p>STC Hub is a collection of resources hosted on ST Central.</p>
            <p>For those that have been with the ST community for a while you know there are vast amount of player built spreadsheets floating around. ST Central is host to many of these spreadsheets and other tables of data that have outgrown what should be done in those formats. Specifically, loading times have become a serious issue.</p>
            <p>STC Hub has been created to replace those bulky spreadsheets with lean statically generated html which will also enable much richer content.</p>
            <h1>Please join us on the <a href="https://discord.gg/u4pPT732pM" title="STC Discord">ST Central Discord</a>!</h1>
        </div>
    </article>
</main>
{{ end }}
