{{ $page := .Page }}
{{ $lang := $page.Lang }}
{{ $bpData := $page.Site.Data.blueprints }}
{{ $heroData := $page.Site.Data.heroes }}
{{ $miscData := $page.Site.Data.miscellaneous }}
{{ $statData := $page.Site.Data.stats }}


{{ $miscTranslations := partial "getDataTranslations.html" (dict "data" $miscData "lang" $lang) }}
{{ $statTranslations := partial "getDataTranslations.html" (dict "data" $statData "lang" $lang) }}


{{ range where $bpData "language.en.name" "==" (.Get "name") }}
    {{ $assets := .assets }}
    {{ $stats := .stats }}
    {{ $en := .language.en }}
    {{ $translations := partial "getDataTranslations.html" (dict "data" . "lang" $lang) }}
    {{ $itemTypeString := replaceRE `\{0\}` ($stats.tier) $miscTranslations.bpTierTypeFormat }}
    {{ $itemTypeString := replaceRE `\{1\}` ($translations.type) $itemTypeString }}

    <div class="blueprint-wrapper">
        <div class="blueprint-banner">
            <div class="blueprint-banner-tier">
                <img src="/fankit/Misc Icons/icon_global_level_item_s_r.png" alt="">
                <img src="/fankit{{ $assets.tier }}" alt="">
            </div>
            <div class="blueprint-banner-info">
                <div class="blueprint-banner-info-name">
                    <img class="blueprint-type-img" src="/fankit{{ $assets.typeLight }}" alt="">
                    <h3 class='text-shadow no-margin'>{{- $translations.name -}}</h3>
                </div>
                <p class="blueprint-banner-info-type text-shadow no-margin">{{ $itemTypeString }}</p>
            </div>
        </div>
        <div class="blueprint-translation blueprint-meta">
            <div class="blueprint-asset" title="{{ $translations.name }}">
                <img src="/fankit{{ $assets.background }}" alt="">
                <img src="/fankit{{ $assets.image }}" alt="">
            </div>
            <div class="blueprint-meta-stats-wrapper">
                {{ with $stats.value }}
                    <div class="blueprint-meta-stat" title="{{ $statTranslations.value }}">
                        <img src="/fankit{{ $statData.assets.value }}" alt="{{ $statTranslations.value }}">
                        <p>{{ $stats.roundedValue | lang.FormatNumber 0 }}</p>
                    </div>
                {{ end }}
                {{ with $stats.merchantXp }}
                    <div class="blueprint-meta-stat" title="{{ $statTranslations.merchantXp }}">
                        <img src="/fankit{{ $statData.assets.merchantXp }}" alt="{{ $statTranslations.merchantXp }}">
                        <p>{{ $stats.merchantXp | lang.FormatNumber 0 }}</p>
                    </div>
                {{ end }}
                {{ with $stats.favor }}
                    <div class="blueprint-meta-stat" title="{{ $statTranslations.favor }}">
                        <img src="/fankit{{ $statData.assets.favor }}"  alt="{{ $statTranslations.favor }}">
                        <p>{{ $stats.favor | lang.FormatNumber 0 }}</p>
                    </div>
                {{ end }}
                {{ if $en.class | ne "Enchantments" }}
                    {{ with $stats.airshipPower }}
                        <div class="blueprint-meta-stat" title="{{ $statTranslations.airshipPower }}">
                            <img src="/fankit{{ $statData.assets.airshipPower }}" alt="{{ $statTranslations.airshipPower }}">
                            <p>{{ $stats.airshipPower | lang.FormatNumber 0 }}</p>
                        </div>
                    {{ end }}
                {{ end }}
                {{ with $stats.antiqueDate }}
                    {{ $dateScratch := newScratch }}
                    {{ if $lang | eq "en" }}
                        {{ $dateScratch.Set "date" (time.Format "2006/01/02" (replaceRE `/` "-" $stats.antiqueDate)) }}
                    {{ else }}
                        {{ $dateScratch.Set "date" (time.Format ":date_short" (replaceRE `/` "-" $stats.antiqueDate)) }}
                    {{ end }}
                    {{ $antiqueDate := $dateScratch.Get "date" }}
                    <div class="blueprint-meta-stat" title="{{- $miscTranslations.inAntiqueStoreOn -}}&nbsp;{{- $antiqueDate -}}">
                        {{ if (now | time) | gt (replace . "/" "-" | time) }}
                            <img src="/fankit{{ $assets.notAntique }}" alt="{{ $translations.notInAntiqueShop }}">
                        {{ else }}
                            <img src="/fankit{{ $assets.antique }}"  alt="{{ $translations.inAntiqueShop }}">
                        {{ end }}
                        <p>{{ $antiqueDate }}</p>
                    </div>
                {{ end }}
            </div>
        </div>
        <p class="blueprint-label-header no-margin">{{ $miscTranslations.stats }}</p>
        <div class="blueprint-stats-wrapper">
            {{ with $stats.atk }}
                <div class="blueprint-meta-stat" title="{{ $statTranslations.attack }}">
                    <img src="/fankit{{ $statData.assets.atk }}" alt="{{ $statTranslations.attack }}">
                    <p>{{ $stats.atk | lang.FormatNumber 0 }}</p>
                </div>
            {{ end }}
            {{ with $stats.def }}
                <div class="blueprint-meta-stat" title="{{ $statTranslations.defense }}">
                    <img src="/fankit{{ $statData.assets.def }}" alt="{{ $statTranslations.defense }}">
                    <p>{{ $stats.def | lang.FormatNumber 0 }}</p>
                </div>
            {{ end }}
            {{ with $stats.hp }}
                <div class="blueprint-meta-stat" title="{{ $statTranslations.health }}">
                    <img src="/fankit{{ $statData.assets.hp }}" alt="{{ $statTranslations.health }}">
                    <p>{{ $stats.hp | lang.FormatNumber 0 }}</p>
                </div>
            {{ end }}
            {{ with $stats.eva }}
                <div class="blueprint-meta-stat" title="{{ $statTranslations.evasion }}">
                    <img src="/fankit{{ $statData.assets.eva }}" alt="{{ $statTranslations.evasion }}">
                    <p>{{  (mul (float $stats.eva) 100) | lang.FormatPercent 0 }}</p>
                </div>
            {{ end }}
            {{ with $stats.crit }}
                <div class="blueprint-meta-stat" title="{{ $statTranslations.critChance }}">
                    <img src="/fankit{{ $statData.assets.critChance }}" alt="{{ $statTranslations.critChance }}">
                    <p>{{ (mul (float $stats.crit) 100) | lang.FormatPercent 0 }}</p>
                </div>
            {{ end }}
        </div>
        {{ if (and ($en.class | ne "Enchantments") ($en.type | ne "Familiar")) }}
            <span class="blueprint-spacer"></span>
            <p class="blueprint-label-header no-margin">{{ $miscTranslations.heroes }}</p>
            <div class="blueprint-heroes">
                {{ $itemType := $en.type }}
                {{ $outerScratch := newScratch }}
                {{ range sort $heroData "order" }}
                    {{ $heroTranslations := partial "getDataTranslations.html" (dict "data" . "lang" $lang) }}

                    {{ $scratch := newScratch }}
                    {{ if $itemType | in .equipment.slot1 }}
                        {{ $scratch.Set "hero" (dict "image" .assets.image "class" $heroTranslations.class "order" .order) }}
                    {{ else if $itemType | in .equipment.slot2 }}
                        {{ $scratch.Set "hero" (dict "image" .assets.image "class" $heroTranslations.class "order" .order) }}
                    {{ else if $itemType | in .equipment.slot3 }}
                        {{ $scratch.Set "hero" (dict "image" .assets.image "class" $heroTranslations.class "order" .order) }}
                    {{ else if $itemType | in .equipment.slot4 }}
                        {{ $scratch.Set "hero" (dict "image" .assets.image "class" $heroTranslations.class "order" .order) }}
                    {{ else if $itemType | in .equipment.slot5 }}
                        {{ $scratch.Set "hero" (dict "image" .assets.image "class" $heroTranslations.class "order" .order) }}
                    {{ else if $itemType | in .equipment.slot6 }}
                        {{ $scratch.Set "hero" (dict "image" .assets.image "class" $heroTranslations.class "order" .order) }}
                    {{ end }}
                    {{ with $scratch.Get "hero"}}
                        {{ $outerScratch.SetInMap "heroes" (string .order) . }}
                    {{ end }}
                {{ end }}
                {{ range $outerScratch.Get "heroes" }}
                    {{ if ($outerScratch.Get "previous") | ne (sub .order 1) }}
                        <img src="/fankit{{ .image }}" alt="{{ .class }}" title="{{ .class }}">
                    {{ end }}
                    {{ $outerScratch.Set "previous" .order }}
                {{ end }}
            </div>
        {{ end }}
        <span class="blueprint-spacer"></span>
        <p class="blueprint-label-header no-margin">{{ $miscTranslations.resources }}</p>
        <div class="blueprint-resources-wrapper">
            {{ with $stats.resource1 }}
                <div class="blueprint-meta-stat blueprint-resources paragraph-text-shadow" title="{{ $translations.resource1 }}">
                    <img src="/fankit{{ $assets.resource1 }}" alt="{{ $translations.resource1 }}">
                    <p>{{ $stats.resource1 | lang.FormatNumber 0 }}</p>
                </div>
            {{ end }}
            {{ with $stats.resource2 }}
                <div class="blueprint-meta-stat blueprint-resources paragraph-text-shadow" title="{{ $translations.resource2 }}">
                    <img src="/fankit{{ $assets.resource2 }}" alt="{{ $translations.resource2 }}">
                    <p>{{ $stats.resource2 | lang.FormatNumber 0 }}</p>
                </div>
            {{ end }}
            {{ with $stats.resource3 }}
                <div class="blueprint-meta-stat blueprint-resources paragraph-text-shadow" title="{{ $translations.resource3 }}">
                    <img src="/fankit{{ $assets.resource3 }}" alt="{{ $translations.resource3 }}">
                    <p>{{ $stats.resource3 | lang.FormatNumber 0 }}</p>
                </div>
            {{ end }}
            {{ with $stats.component1 }}
                {{ if $en.c1quality | eq "Normal" }}
                    {{ $precraftQualityString := replaceRE `\{0\}` ($translations.c1quality) $miscTranslations.qualityItemNameFormat }}
                    {{ $precraftQualityString := replaceRE `\{1\}` ($translations.component1) $precraftQualityString }}
                    <div class="blueprint-meta-stat blueprint-resources blueprint-normal-precraft paragraph-text-shadow" title="{{ $precraftQualityString }}">
                        <img src="/fankit{{ $assets.component1 }}" alt="{{ $precraftQualityString }}">
                        <p>{{ $stats.component1 | lang.FormatNumber 0 }}</p>
                    </div>
                {{ else if $en.c1quality | eq "Superior" }}
                    {{ $precraftQualityString := replaceRE `\{0\}` ($translations.c1quality) $miscTranslations.qualityItemNameFormat }}
                    {{ $precraftQualityString := replaceRE `\{1\}` ($translations.component1) $precraftQualityString }}
                    <div class="blueprint-meta-stat blueprint-resources blueprint-superior-precraft paragraph-text-shadow" title="{{ $precraftQualityString }}">
                        <img src="/fankit{{ $assets.component1 }}" alt="{{ $precraftQualityString }}">
                        <p>{{ $stats.component1 | lang.FormatNumber 0 }}</p>
                    </div>
                {{ else }}
                    <div class="blueprint-meta-stat blueprint-resources blueprint-components paragraph-text-shadow" title="{{ $translations.component1 }}">
                        <img src="/fankit{{ $assets.component1 }}" alt="{{ $translations.component1 }}">
                        <p>{{ $stats.component1 | lang.FormatNumber 0 }}</p>
                    </div>
                {{ end }}
            {{ end }}
            {{ with $stats.component2 }}
                {{ if $en.c2quality | eq "Normal" }}
                    {{ $precraftQualityString := replaceRE `\{0\}` ($translations.c2quality) $miscTranslations.qualityItemNameFormat }}
                    {{ $precraftQualityString := replaceRE `\{1\}` ($translations.component2) $precraftQualityString }}
                    <div class="blueprint-meta-stat blueprint-resources blueprint-normal-precraft paragraph-text-shadow" title="{{ $precraftQualityString }}">
                        <img src="/fankit{{ $assets.component2 }}" alt="{{ $precraftQualityString }}">
                        <p>{{ $stats.component2 | lang.FormatNumber 0 }}</p>
                    </div>
                {{ else if $en.c2quality | eq "Superior" }}
                    {{ $precraftQualityString := replaceRE `\{0\}` ($translations.c2quality) $miscTranslations.qualityItemNameFormat }}
                    {{ $precraftQualityString := replaceRE `\{1\}` ($translations.component2) $precraftQualityString }}
                    <div class="blueprint-meta-stat blueprint-resources blueprint-superior-precraft paragraph-text-shadow" title="{{ $precraftQualityString }}">
                        <img src="/fankit{{ $assets.component2 }}" alt="{{ $precraftQualityString }}">
                        <p>{{ $stats.component2 | lang.FormatNumber 0 }}</p>
                    </div>
                {{ else }}
                    <div class="blueprint-meta-stat blueprint-resources blueprint-components paragraph-text-shadow" title="{{ $translations.component2 }}">
                        <img src="/fankit{{ $assets.component2 }}" alt="{{ $translations.component2 }}">
                        <p>{{ $stats.component2 | lang.FormatNumber 0 }}</p>
                    </div>
                {{ end }}
            {{ end }}
        </div>
        <span class="blueprint-spacer"></span>
        <p class="blueprint-label-header no-margin">{{ $miscTranslations.workers }}</p>
        <div class="blueprint-stats-wrapper">
            {{ with $stats.worker1 }}
                <div class="blueprint-meta-stat blueprint-workers paragraph-text-shadow" title="{{ $translations.worker1 }}">
                    <img src="/fankit{{ $assets.worker1 }}" alt="{{ $translations.worker1 }}">
                    <p>{{ replaceRE `\{0\}` ($stats.worker1 | lang.FormatNumber 0) $miscTranslations.levelFormatShort }}</p>
                </div>
            {{ end }}
            {{ with $stats.worker2 }}
                <div class="blueprint-meta-stat blueprint-workers paragraph-text-shadow" title="{{ $translations.worker2 }}">
                    <img src="/fankit{{ $assets.worker2 }}" alt="{{ $translations.worker2 }}">
                    <p>{{ replaceRE `\{0\}` ($stats.worker2 | lang.FormatNumber 0) $miscTranslations.levelFormatShort }}</p>
                </div>
            {{ end }}
            {{ with $stats.worker3 }}
                <div class="blueprint-meta-stat blueprint-workers paragraph-text-shadow" title="{{ $translations.worker3 }}">
                    <img src="/fankit{{ $assets.worker3 }}" alt="{{ $translations.worker3 }}">
                    <p>{{ replaceRE `\{0\}` ($stats.worker3 | lang.FormatNumber 0) $miscTranslations.levelFormatShort }}</p>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
