{{ $page := .Page }}
{{ $lang := $page.Lang }}
{{ $bpData := $page.Site.Data.blueprints }}
{{ $heroData := $page.Site.Data.heroes }}

{{ $hero := . }}
{{ $stats := dict
    "starPower" ($hero.Get "starPower")
    "hp" ($hero.Get "hp")
    "atk" ($hero.Get "atk")
    "def" ($hero.Get "def")
    "threat" ($hero.Get "threat")
    "eva" ($hero.Get "eva")
    "critChance" ($hero.Get "critChance")
    "critDmg" ($hero.Get "critDmg")
}}
{{ $skills := dict
    "skill0" ($hero.Get "skill0")
    "skill1" ($hero.Get "skill1")
    "skill2" ($hero.Get "skill2")
    "skill3" ($hero.Get "skill3")
    "skill4" ($hero.Get "skill4")
}}
{{ $equipment := dict
    "slot1" ($hero.Get "slot1")
    "slot2" ($hero.Get "slot2")
    "slot3" ($hero.Get "slot3")
    "slot4" ($hero.Get "slot4")
    "slot5" ($hero.Get "slot5")
    "slot6" ($hero.Get "slot6")
}}
{{ $sim := $hero.Get "sim" }}

{{ range where $heroData "language.en.class" "==" (.Get "class") }}
{{ $translations := partial "getDataTranslations.html" (dict "data" . "lang" $lang) }}
<p>{{ . }}</p>

<div class="hero-wrapper">
    <div class="hero-class-banner">
        <img class="hero-class-icon" src="/fankit{{ .assets.image }}" alt="{{ $translations.class }}">
        <p class="hero-class-name">{{ $translations.class }}</p>
    </div>
    <div class="hero-data-wrapper">
        {{ partial "hero/stats.html" (dict "page" $page "stats" $stats) }}
        <div class="hero-equipment-wrapper">
            {{ partial "hero/skills.html" (dict "page" $page "skills" $skills) }}
            <div class="hero-equipment-slot-wrapper">
                <p>{{ $hero.Get "slot1" }}</p>
                <p>{{ $hero.Get "slot2" }}</p>
                <p>{{ $hero.Get "slot3" }}</p>
            </div>
            <div class="hero-equipment-slot-wrapper">
                <p>{{ $hero.Get "slot4" }}</p>
                <p>{{ $hero.Get "slot5" }}</p>
                <p>{{ $hero.Get "slot6" }}</p>
            </div>
        </div>
    </div>
</div>


<p>{{ $hero.Get "skill0" }}</p>
<p>{{ $hero.Get "skill1" }}</p>
<p>{{ $hero.Get "skill2" }}</p>
<p>{{ $hero.Get "skill3" }}</p>
<p>{{ $hero.Get "skill4" }}</p>
<p>{{ $hero.Get "sim" }}</p>

{{ end }}
